body {
    background-color:darkslategray ;
    color:azure;
}

/* .div1 {
    width: 300px;
    height: 100px;
    border: 1px azure;
} */

#developer-container {
    text-align: center;
    color: snow;
    font-size:x-large;
}

/* Project Form CSS */
#project-form {
    text-align: center;
    font-size: 16px;
}

.started {
    cursor: text;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;
}

.deadline {
    cursor: text;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;
}

.checkbox {
    cursor: pointer;
    background-color: #f8f8f8;
}

.submit {
    background-color: #21374d ;
    color: azure;
    font-size: 14px;
    /* font-family: Georgia, 'Times New Roman', Times, serif */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}

textarea {
    width: 30%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
