html, body {
    /* margin:0; 
    padding:0;   */
    height:100%; 
    width: 100%;
}

body {
    background-color:darkslategray ;
    color:azure;    
}

/* developer CSS */
.div1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: azure;
    font-size:xx-large;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 100px;
    margin-bottom: 75px;
    
}

/* Project Form CSS */
form {
    margin: auto;
   
}

#project-form {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 100px;
    
}

label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.name, .started, .deadline {
    background-color: #f8f8f8;
    cursor: text;
    border-radius: 4px;
    font-size: 16px;

}

.checkbox {
    cursor: pointer;
    background-color: #f8f8f8;
}

.submit {
    background-color: #21374d ;
    color: azure;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}

.edit {
    background-color: darkslategray ;
    color: azure;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 30%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* project list CSS */
.div3, #project-container {
    background-color:rgba(104, 107, 107, 0.363);
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-style:inset;
    border-color: #0b2742;
    border-radius: 4px;
    padding: 12px 10px; 
    width:99%; 
    overflow-y:scroll; 
    height:50%;
}

.ul-project {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px #000000;
    background-color: #21374d;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    width: 35%; 
    float:left;
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-right: 50px;
    margin-left: 99px;
    padding: 12px 20px;
    border: 2px solid #0b2742;    
}
    
/* footer */
footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;

}


